<% if @user.present? %>
  <ul class="notifications-list">
    <% @notifications.each do |notification| %>
      <li class="clearfix">
        <%= image_tag notification.notifier_image, :class => 'left' %>
        <strong><%= notification.notifier_handle %></strong>
        <span clas="timeago">
          <small><%= timeago_tag notification.notifier_date_time, :nojs => TRUE, :limit => 20.days.ago %></small>
        </span>
        <p><%= notification.message %> <%= notification.notifier_game %></p>
      </li>
    <% end %>
  </ul>
<% end %>

