<div class="large-4 small-6 small-centered columns large-centered">
  <%= image_tag("logo-mascot.png", :class => 'has-tip tip-bottom', :title => 'The pug in pugwarriors stands for "Pick-up game"', 'data-tooltip' => '') %>
</div>
<div id="create-game" class="large-12 columns">
  <div class="row">
    <div class="large-9 columns large-centered">
      <h1 class="title">Find games near you</h1>
      <%= form_for :tweets_filter, :url => '/tweets/filter' do |f|  %>
          <div class="right">
            <div class="row collapse">
              <div class="small-8 columns">
                <%= f.text_field :zip, :placeholder => "Enter your zip code", :value => @filter %>
              </div>
              <div class="small-4 columns">
                <%= f.submit "Search", :class => "button prefix" %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="left">
        <%= link_to 'New Game', new_game_path, :class => 'button' %>
      </div>
      <% @tweets.each do |tweet| %>
          <div id="game-item" class="panel callout radius large-12 columns">
            <p><%= tweet.text %></p>
            <div class="panel clearfix">
              <% if user_signed_in? %>
                  <%= link_to 'Claim this game', '/tweet/' + tweet.id + '/admin', :class => 'button small left' %>
              <% else %>
                  <em data-tooltip class="has-tip" title="You must login with twitter to claim the game."><%= image_tag 'icons/question-icon.png' %>Unknown user</em>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

