<div id="create-game" class="large-12 columns">
  <%= form_for(@game) do |f| %>
    <% if @game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
        <ul>
          <% @game.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div id="tweet-information" class="large-12 columns">
      <div class="row">
        <h4 class="clearfix">
          <div class="row">
            <div class="large-12 columns">
              <div class="row">
                <div class="tweet-text-sections large-5 columns"><label>I want to play a pick-up game of</label></div>
                <div class="large-7 columns"><%= f.text_field(:game_type, :placeholder => "What type of game do you want to play?") %></div>
              </div>
            </div>
            <div class="large-12 columns">
              <div class="row">
                <div class="tweet-text-sections large-2 columns"><label>Meet me at</label></div>
                <div class="large-4 columns"><%= f.text_field(:location, :placeholder => "Where is the location of your game?") %></div>
                <div class="tweet-text-sections large-1 columns"><label> at,</label></div>
                <div class="large-2 columns"><%= f.text_field(:time, :placeholder => "What time?") %></div>
                <div class="tweet-text-sections large-1 columns"><label>on, </label></div>
                <div class="large-2 columns"><%= f.datepicker 'date', :class => 'datePicker' %></div>
              </div>
            </div>
          </div>
        </h4>
        <%= link_to "Next", '#', :class => 'button right next-button' %>
      </div>
    </div>
    <div style="display: none;" id="additional-information">
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <%= f.label(:name, "Game title") %>
              <%= f.text_field(:name, :placeholder => "Enter a game title.") %>
            </div>
          </div>

          <div class="row">
            <div class="large-4 columns">
              <%= f.label(:city, "City") %>
              <%= f.text_field(:city, :placeholder => "City") %>
            </div>
            <div class="large-4 columns">
              <%= f.label(:state, "State") %>
              <%= f.text_field(:state, :placeholder => "State") %>
            </div>
            <div class="large-4 columns">
              <%= f.label(:zip, "Zip") %>
              <%= f.text_field(:zip, :placeholder => "Zip") %>
            </div>
          </div>
          <p>Optional</p>
           <div class="row">
             <div class="large-12 columns">
               <%= f.label(:player_max, "Max number of players?") %>
               <%= f.text_field(:player_max, :placeholder => "Enter a number") %>
             </div>
           </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label(:equipment, "Equipment") %>
              <%= f.text_field(:equipment, :placeholder => "Do players need to bring any equipment?") %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.submit "Get this game started!", :class => 'button right' %>
              <%= link_to "Back", '#', :class => 'button secondary left back-button' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
