<div id="create-game" class="large-9 columns large-centered">
  <h1>Create a pick-up game.</h1>
  <%= form_for(@game) do |f| %>
    <% if @game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
        <ul>
          <% @game.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="large-12 columns">
        <%= f.label(:name, "Name") %>
        <%= f.text_field(:name, :placeholder => "Enter a name for your game.")  %>
      </div>

      <div class="large-12 columns">
        <%= f.label(:game_type, "Game type") %>
        <%= f.text_field(:game_type, :placeholder => "What type of game do you want to play?") %>
      </div>

      <div class="large-12 columns">
        <%= f.label(:location, "Location") %>
        <%= f.text_field(:location, :placeholder => "Where is the location of your game?") %>
      </div>

      <div class="large-4 columns">
        <%= f.label(:city, "City") %>
        <%= f.text_field(:city, :placeholder => "City") %>
      </div>

      <div class="large-4 columns">
        <%= f.label(:state, "State") %>
        <%= f.text_field(:state, :placeholder => "State") %>
      </div>

      <div class="large-4 columns">
        <%= f.label(:zip, "Zip") %>
        <%= f.text_field(:zip, :placeholder => "Zip") %>
      </div>

      <div class="large-4 columns">
        <%= f.label(:date, "Date") %>
        <%= f.datepicker 'date', :class => 'datePicker' %>
      </div>

      <div class="large-4 columns">
        <%= f.label(:time, "Start time") %>
        <%= f.text_field(:time, :placeholder => "What time?") %>
      </div>

      <div class="large-4 columns">
        <%= f.label(:player_max, "Max number of players?") %>
        <%= f.text_field(:player_max, :placeholder => "Enter a number") %>
      </div>

      <div class="large-12 columns">
        <%= f.label(:equipment, "Equipment") %>
        <%= f.text_field(:equipment, :placeholder => "Do players need to bring any equipment?") %>
      </div>

      <div class="large-12 columns">
        <%= f.submit "Get this game started!", :class => 'button large-12 columns' %>
      </div>
    </div>

  <% end %>
</div>
