<div class="large-4 small-6 small-centered columns large-centered">
  <%= image_tag("logo-mascot.png", :class => 'has-tip tip-bottom', :title => 'The pug in pugwarriors stands for "Pick-up game"', 'data-tooltip' => '') %>
</div>
<div id="create-game" class="large-12 columns">
  <div class="row">
    <div class="large-9 columns large-centered">
      <h1 class="title">Find games near you</h1>
      <%= form_for :games_filter, :url => '/games/filter' do |f|  %>
          <div class="right">
            <div class="row collapse">
              <div class="small-8 columns">
                <%= f.text_field :zip, :placeholder => "Enter your zip code", :value => @filter %>
              </div>
              <div class="small-4 columns">
                <%= f.submit "Search", :class => "button prefix" %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="left">
        <%= link_to 'New Game', new_game_path, :class => 'button' %>
      </div>
      <% @games.each do |game| %>
      <div id="game-item" class="panel callout radius large-12 columns">
        <h4><%= link_to game.name, game %></h4>
        <p>Location: <%= game.location %></p>
        <div class="panel clearfix">
          <span>Players joined: <%= game.users.count %></span>
          <span>Game time: <%= game.time %></span>
          <span>Date: <%= game.date %></span>
          <%= link_to "Visit game", game, :class => 'button right secondary small' %>
          <% if game.author_handle.present? %>
            <div id="author-info" class="large-4 columns">
              <div class="large-3 columns">
                <%= image_tag game.author_image %>
              </div>
              <div class="large-9 columns">
                <sup>Posted by:</sup><br>
                <strong>@<%= game.author_handle %></strong>
              </div>
            </div>
          <% else %>
            <% if user_signed_in? %>
              <%= link_to 'Claim this game', '/games/' + game.id + '/admin', :class => 'button small left' %>
            <% else %>
              <em data-tooltip class="has-tip" title="You must login with twitter to claim the game.">
                <%= image_tag 'icons/question-icon.png' %>
                <%= link_to 'Unknown user', '/auth/twitter', :class => 'has-tip', 'data-tooltip' => '', :title => 'You must login with twitter to claim this game as yours.' %>
              </em>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

