<div class="large-4 small-6 small-centered columns large-centered">
  <%= image_tag("logo-mascot.png", :class => 'has-tip tip-bottom', :title => 'The pug in pugwarriors stands for "Pick-up game"', 'data-tooltip' => '') %>
</div>
<div id="create-game" class="large-12 columns">
  <div class="row">
    <div class="large-9 columns large-centered">
      <h1 class="title">Find games near you</h1>
      <%= form_for :games_filter, :url => '/games/filter' do |f|  %>
          <div class="right">
            <div class="row collapse">
              <div class="small-8 columns">
                <%= f.text_field :zip, :placeholder => "Enter your zip code", :value => @filter %>
              </div>
              <div class="small-4 columns">
                <%= f.submit "Search", :class => "button prefix" %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="left">
        <%= link_to 'View pick-up games on twitter in your area.', '/tweets', :class => 'button' %>
      </div>
      <% @games.each do |game| %>
      <div id="game-item" class="panel callout radius large-12 columns">
        <h4><%= link_to game.name, game %></h4>
        <p>I want to play a pick-up game of <span class="radius label"><%= game.game_type %></span> .  Meet me at <%= game.location %> at, <%= game.time %> on, <%= game.date %>.</p>
        <div class="panel clearfix">
          <%= link_to "Visit game", game, :class => 'button right secondary small' %>
          <% if game.author_handle.present? %>
            <div id="author-info" class="large-4 columns">
              <div class="large-3 columns">
                <%= image_tag game.author_image %>
              </div>
              <div class="large-9 columns">
                <sup>Posted by:</sup><br>
                <strong>@<%= game.author_handle %></strong>
              </div>
            </div>
          <% else %>
            <% if user_signed_in? %>
              <%= link_to 'Claim this game', '/games/' + game.id + '/admin', :class => 'button small left' %>
            <% else %>
              <em data-tooltip class="has-tip" title="You must login with twitter to claim the game.">
                <%= image_tag 'icons/question-icon.png' %>
                <%= link_to 'Unknown user', '/auth/twitter', :class => 'has-tip', 'data-tooltip' => '', :title => 'You must login with twitter to claim this game as yours.' %>
              </em>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
              <div id="join-leave-<%= game.id.to_s %>">
                  <% if game.users.present? && game.users.where(:_id => current_user.id).first %>
                      <%= link_to "I'm not going anymore..", '/games/' + game.id + '/leave', {:class => 'button large-12 columns', :remote => true} %>
                  <% else %>
                      <%= link_to "You in?  Let me know.", '/games/' + game.id + '/join', {:class => 'button large-12 columns', :remote => true} %>
                  <% end %>
              </div>
          <% else %>
              <%= link_to "You in?  Sign in with twitter to join", '/auth/twitter', :class => 'button large-12 columns' %>
          <% end %>
          <div id="member-count-<%= game.id.to_s %>">
            <% if game.users.present? %>
              <%= game.users.count %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

