<div class="large-4 small-6 small-centered columns large-centered">
  <%= image_tag("logo-mascot.png") %>
</div>
<div id="create-game" class="large-12 columns">
  <div class="row">
    <div class="large-9 columns large-centered">
      <h1 class="title">Find games near you</h1>
      <%= form_for :games_filter, :url => '/games/filter' do |f|  %>
          <div class="right">
            <div class="row collapse">
              <div class="small-8 columns">
                <%= f.text_field :zip, :placeholder => "Enter your zip code", :value => @filter %>
              </div>
              <div class="small-4 columns">
                <%= f.submit "Search", :class => "button prefix" %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="left">
        <%= link_to 'New Game', new_game_path, :class => 'button' %>
      </div>
      <% @games.each do |game| %>
      <div id="game-item" class="panel callout radius large-12 columns">
        <h4><%= link_to game.name, game %></h4>
        <p>I want to play a pick-up game of <%= game.game_type %>.  Meet me at <%= game.location %> at, <%= game.time %> on, <%= game.date %></p>
        <div class="panel clearfix">
          <p class="radius secondary label right"><%= game.game_type %></p>
          <%= link_to "Visit game", game, :class => 'button left secondary' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

