<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= link_to image_tag('logo.png'), '/' %></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <%= link_to 'Create a game', new_game_path %>
        </li>
        <li>
          <%= link_to 'Find a game', games_path %>
        </li>
        <li>
          <%= image_tag 'icons/notification-icon.png', :class => 'notification-button' %>
          <%= render_cell :notifications, :show, :user => current_user %>
        </li>

        <% if !user_signed_in? %>
          <li><%= link_to 'Sign in with twitter', '/auth/twitter' %></li>
        <% end %>

        <% if user_signed_in? %>
        <li class="has-dropdown"><%= image_tag current_user.image, :title => current_user.name, :class => 'mini_user_profile_image' %>

          <ul class="dropdown">
            <li><%= link_to 'Edit account', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </section>
  </ul>
</nav>

